// reference: stripe

$gray-0: #fafcfc;
$gray-1: #e4e8ee;
$gray-2: #c1c9d0;
$gray-3: #a2abb7;
$gray-4: #8892a2;
$gray-5: #6b7385;
$gray-6: #505669;
$gray-7: #3c4055;
$gray-8: #2b2e44;
$gray-9: #2b2e44;

$green-0: #f2feee;
$green-1: #cff7c9;
$green-2: #91e396;
$green-3: #52d080;
$green-4: #3eb574;
$green-5: #288d60;
$green-6: #216b44;
$green-7: #18533a;
$green-8: #113b34;
$green-9: #0a2627;
