// reference: stripe

$gray-0: #fafcfc;
$gray-1: #e4e8ee;
$gray-2: #c1c9d0;
$gray-3: #a2abb7;
$gray-4: #8892a2;
$gray-5: #6b7385;
$gray-6: #505669;
$gray-7: #3c4055;
$gray-8: #2b2e44;
$gray-9: #2b2e44;

$blue-0: #f5fcff;
$blue-1: #d9edff;
$blue-2: #accffc;
$blue-3: #85acf4;
$blue-4: #758cec;
$blue-5: #5c66d2;
$blue-6: #414aa6;
$blue-7: #313b84;
$blue-8: #262c62;
$blue-9: #152041;

$cyan-0: #eefdfe;
$cyan-1: #cff3fb;
$cyan-2: #8ed8e9;
$cyan-3: #62bde4;
$cyan-4: #4d9dce;
$cyan-5: #277fb5;
$cyan-6: #1c5b92;
$cyan-7: #154876;
$cyan-8: #0f3451;
$cyan-9: #082530;

$purple-0: #fef7ff;
$purple-1: #f8ddf4;
$purple-2: #e8ade1;
$purple-3: #d882d9;
$purple-4: #bf62cf;
$purple-5: #9b47b2;
$purple-6: #743095;
$purple-7: #57237e;
$purple-8: #3d1867;
$purple-9: #2a0d53;

$violet-0: #f8f9fe;
$violet-1: #e7e5fc;
$violet-2: #c6c0e9;
$violet-3: #ae9dde;
$violet-4: #9b7ad8;
$violet-5: #7f58be;
$violet-6: #5f4199;
$violet-7: #4a2d7f;
$violet-8: #362164;
$violet-9: #20144c;
