@use '@/styles/token' as t;

.playground {
  gap: t.$space-6;

  @include t.device(llt) {
    display: flex;
    flex-direction: column;
    margin-block: t.$space-12;
    padding-block-end: t.$space-3; /* alignment with positioned actions */
  }
  @include t.device(lt) {
    --col: 2;
    --size: 64rem;
    grid-column: 1 / -1 !important; /* override parent's value */
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    inline-size: 100%;
    max-inline-size: calc(var(--size) - 2 * var(--page-pad));
    margin-block: t.$space-12 + t.$space-6;
    margin-inline: auto;

    &.has-system {
      --col: 3;
      --size: 90rem;
    }
    &.has-input {
      --col: 2;
      --size: 64rem;
    }
  }
}

.header {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  column-gap: t.$space-6;
  row-gap: t.$space-3;
}

.section {
  --primary: #{t.$gray-5};
  --secondary: #{t.$gray-1}80;
  --color: #{t.$gray-8};
  display: flex;
  flex-direction: column;
  gap: t.$space-3;
  block-size: 100%;
  padding-block: t.$space-3;
  padding-inline-start: t.$space-3;
  border: 1px solid var(--secondary);
  border-inline-start: 2px solid var(--primary);
  border-radius: 1px;
  background-color: var(--background, #{t.$gray-0}80);
  color: var(--color);
}

.label {
  @include t.font(12, 12, 0.1);
  color: var(--primary);
  font-family: t.$font-label;
  text-transform: uppercase;
}

.content {
  @include t.font(17, 25);
  max-block-size: 50dvh;
  max-inline-size: 40rem;
  padding-inline-end: t.$space-3;
  overflow-y: auto;
  font-family: t.$font-body;
  scrollbar-width: thin;
  white-space: pre-wrap;

  /* always display scrollbar (safari-only) */
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    inline-size: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--primary);
  }
}

.action {
  --secondary-color: #{t.$purple-2};
  --tertiary-color: #{t.$purple-1};
  text-decoration: underline;
  text-decoration-color: var(--tertiary-color);
  text-underline-offset: 0.275em;

  @include t.device(lt) {
    &:last-child {
      margin-inline-start: auto;
    }
  }

  & > svg {
    color: var(--secondary-color);
    transition:
      color 300ms,
      text-decoration-color 300ms;
  }

  &:hover > svg,
  &:active > svg,
  &:focus > svg,
  &:focus-visible > svg {
    --secondary-color: #{t.$purple-3};
    --tertiary-color: #{t.$purple-2};
  }
}
