@use '@/styles/token' as t;
@use './base.module.scss';

.header {
  justify-self: end;
  margin-block-end: t.$space-3;
}

.system {
  @extend .section;
}

.user {
  @extend .section;

  @include t.device(lt) {
    .playground.has-input:not(.has-system) > & {
      grid-column: 1 / -1;
      max-inline-size: max-content;
      margin-inline: auto;
    }
  }
}

.assistant {
  @extend .section;
}

.io {
  .playground.has-input > & {
    gap: t.$space-6;

    @include t.device(llt) {
      display: flex;
      flex-direction: column;
    }
    @include t.device(lt) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(var(--size), auto);
      grid-auto-flow: column;
    }
  }
}

.params {
  @extend .section;
}

.params-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: t.$space-3;
  row-gap: t.$space-2;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.param-key {
  @extend .ellipsis;
  @include t.font(17, 25);
  max-inline-size: 8rem;
  font-family: t.$font-body;

  &::before {
    content: '{{';
  }
  &::after {
    content: '}}:';
  }
}

.param-value {
  @extend .content;
}
