@use '@/styles/token' as t;

.button {
  cursor: help;
  padding: 0;

  &[data-hovered] {
    background-color: unset;
  }
  &[data-pressed] {
    outline-offset: unset;
    background-color: unset;
  }
}

.tooltip > a {
  --primary-color: #{t.$violet-3};


  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    --primary-color: #{t.$violet-4};
  }
}
