@use '@/styles/token' as t;

.link {
  --primary-color: #{t.$violet-5};
  --secondary-color: #{t.$purple-2};
  --tertiary-color: #{t.$purple-1};
  @include t.outline-start;
  color: var(--primary-color);
  text-decoration-color: var(--tertiary-color);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.275em;
  transition:
    t.$outline-transition,
    color 300ms,
    text-decoration-color 150ms;

  & > .icon {
    position: relative;
    top: -0.2em;
    block-size: 0.8em;
    inline-size: 0.8em;
    margin-inline-start: 0.2em;
    color: var(--secondary-color);
    transition: all 150ms;
  }

  &:focus-visible {
    @include t.outline-end;
  }
  @supports not selector(&:focus-visible) {
    &:focus {
      @include t.outline-end;
    }
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    --primary-color: #{t.$violet-6};
    --secondary-color: #{t.$purple-3};
    --tertiary-color: #{t.$purple-2};
  }
}

.arxiv {
  overflow: visible; /* cut-off edges */
  stroke-width: 2;
}
