@use '@/styles/token' as t;

.stella {
  padding-block-end: t.$space-8; /* sync with header */
  color: t.$gray-9;

  @include t.device(tb) {
    display: grid;
    grid-template-columns: 1fr min(40rem, 100%) 1fr;

    & > * {
      grid-column: 2;
    }
  }
}
