@use '@/styles/token' as t;

.stella {
  color: t.$gray-9;

  @include t.device(tb) {
    display: grid;
    grid-template-columns: 1fr min(40rem, 100%) 1fr;

    & > * {
      grid-column: 2;
    }
  }
}

/**
 * base
 */

.heading {
  --gr: 1.618;
  --scale: 2;
  margin-block-start: calc(1em / var(--gr) * var(--scale));
  margin-block-end: calc(1em / var(--gr) / 2 * var(--scale));
  font-family: t.$font-title;
  letter-spacing: -0.02em;
}

.body {
  @include t.font(18, 27);
  font-family: t.$font-body;
}

.list {
  display: flex;
  flex-direction: column;
  margin-block-end: t.$space-2;
  padding-inline-start: 1.5em;

  .li > & {
    margin-block-end: 0;
  }
  .p + & {
    margin-block-start: -1 * t.$space-1;
  }
}

/**
 * components: block-level
 */

.h2 {
  @include t.font(34, 40);
  @extend .heading;
  padding-block-end: t.$space-1;
  border-block-end: 1px solid t.$gray-1;
}

.h3 {
  @include t.font(28, 34);
  @extend .heading;
}

.h4 {
  @include t.font(22, 28);
  @extend .heading;
}

.p {
  @extend .body;
  margin-block: t.$space-2;

  .li > & {
    margin-block: 0;
  }
}

.ol {
  @extend .list;
}

.ul {
  @extend .list;
  position: relative;
  list-style: none;
}

.li {
  @extend .body;
  @include t.font(17, 25);

  .ul > & {
    &::before {
      position: absolute;
      left: 0.6em;
      content: '• ';
    }
  }
}

.blockquote {
  & > .p {
    font-family: t.$font-body-italic;
  }
}

.pre {
  margin-block: t.$space-2;

  & > code {
    white-space: pre-wrap !important; /* prism override */
  }
}

.hr {
  margin-block: t.$space-6;
  border: none;
  border-block-start: 1px solid t.$gray-1;
}

/**
 * components: inline-level
 */

.code {
  padding-inline: 0.1em;
  font-family: t.$font-code;
  font-size: #{(14/16)}rem;
}

.em {
  font-family: t.$font-body-italic;
}

.strong {
  font-family: t.$font-body-bold;
}

/**
 * custom components: block-level
 */

/**
 * custom components: inline-level
 */
