@use '@/styles/token' as t;

.header {
  --secondary: #{t.$gray-5};
  grid-column: 1 / -1 !important; /* override parent's value */
  display: grid;
  gap: t.$space-1;
  inline-size: min(100%, 40rem);
  margin-block: t.$space-8;
  margin-inline: auto;

  @include t.device(tb) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'nav      nav      .'
      'title    title    title'
      'hr       hr       hr'
      'topics   topics   updated-at';
    align-items: baseline;

    &.has-subtitle {
      grid-template-areas:
        'nav      nav      .'
        'title    title    title'
        'subtitle subtitle subtitle'
        'hr       hr       hr'
        'topics   topics   updated-at';
    }
  }
}

.label {
  @include t.font(10, 10, 0.1);
  font-family: t.$font-label;
  text-transform: uppercase;
}

.nav {
  @extend .label;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: t.$space-3;
  color: var(--secondary);

  @include t.device(tb) {
    grid-area: nav;
  }
}

.back {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.back-icon {
  color: t.$purple-2;

  .back:hover &,
  .back:active &,
  .back:focus &,
  .back:focus-visible & {
    color: t.$purple-3;
  }
}

.heading {
  font-family: t.$font-title;
  letter-spacing: -0.02em;
  text-wrap: balance;
}

.title {
  @include t.font(40, 46);
  @extend .heading;
  margin-block: t.$space-3;

  @include t.device(tb) {
    grid-area: title;
  }
}

.subtitle {
  @include t.font(18, 22);
  @extend .heading;
  margin-block-end: t.$space-3;
  color: t.$gray-6;

  @include t.device(tb) {
    grid-area: subtitle;
  }
}

.hr {
  margin-block-end: t.$space-1;
  border: none;
  border-block-start: 1px solid t.$gray-1;

  @include t.device(tb) {
    grid-area: hr;
  }
}

.topics {
  display: flex;
  flex-wrap: wrap;
  column-gap: t.$space-3;

  @include t.device(tb) {
    grid-area: topics;
  }
}

.topic {
  color: var(--secondary);
  font-family: t.$font-body;
}

.updated-at {
  color: var(--secondary);

  @include t.device(ltb) {
    margin-block-start: t.$space-3;
  }
  @include t.device(tb) {
    grid-area: updated-at;
    justify-self: end;
  }

  &-label {
    font-family: t.$font-body;

    @include t.device(tb) {
      display: none;
    }
  }

  &-value {
    @extend .label;
  }
}
