@use '@/styles/token' as t;

.resource {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block-end: t.$space-3;
}

.main {
  text-wrap: pretty;
}

.metadata {
  display: flex;
  flex-wrap: wrap;
  gap: t.$space-2;
  color: #{t.$gray-5};
}

.author {
  --primary-color: #{t.$gray-5} !important; /* link override */

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    --primary-color: #{t.$gray-6} !important; /* link override */
  }
}

.tag {
  @include t.font(10, 12, 0.1);
  font-family: t.$font-label;
  text-transform: uppercase;
  white-space: nowrap;

  &:not(:first-child) {
    margin-inline-start: t.$space-2;
  }

  &::before {
    content: '#';
  }
}
