@use '@/styles/token' as t;

.trigger {
  @include t.font(10, 10, 0.1);
  position: relative;
  margin-inline: 0.5em;
  padding: t.$space-2;
  font-family: t.$font-label;
  text-decoration: underline;
  text-decoration-color: var(--tertiary-color);
  text-decoration-thickness: 1px;
  text-transform: uppercase;
  text-underline-offset: 0.325rem; /* alignment */
  transition:
    t.$outline-transition,
    color 300ms,
    text-decoration-color 150ms;
}
