@use '@/styles/token' as t;

.settings {
  position: fixed;
  inset: 0;
  block-size: 100%;
  overflow-y: auto;
  background-color: hsla(0deg, 0%, 100%, 0.75);
  backdrop-filter: blur(8px);
  color: t.$gray-9;
}

.wrapper {
  max-inline-size: 40rem;
  margin-inline: auto;
  padding-block-end: t.$space-6;

  /* sync with header */
  @include t.device(ltb) {
    padding-block-start: t.$space-2;
  }
  @include t.device(tb) {
    padding-block-start: t.$space-12 + t.$space-2;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
}

.close {
  position: relative; /* sync with header's preferences icon */

  @media (min-width: 40em) and (max-width: 74.99em) {
    left: t.$space-3;
  }
  @include t.device(lt) {
    left: t.$space-1;
  }
}

.main {
  padding-inline: var(--pad);

  /* sync with layout */
  @include t.device(ltb) {
    --pad: #{t.$space-3};
  }
  @include t.device(tb) {
    --pad: #{t.$space-6};
  }
}

.wip {
  @include t.font(22, 28);
  margin-block: t.$space-6;
  font-family: t.$font-title;
}
